################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleApp/.vs/ConsoleApp
/ConsoleApp/ConsoleApp1/obj
/ConsoleApp/.vs/ProjectEvaluation
/ConsoleApp/ConsoleApp1/bin/Debug/net6.0
